QWidget {
    background-color: #121212;
    color: white;
    font-family: "Segoe UI";
    font-size: 14px;
}

QPushButton {
    background-color: #d32f2f;
    color: white;
    border-radius: 6px;
    padding: 8px;
}

QPushButton:hover {
    background-color: #b71c1c;
}
